.nav-bar {
  width: 100%;
  background-color: red;
  padding: 0.5rem;
}
/* 
.nav-bar li {
  list-style: none;
  color: white;
  padding-left: 5px;
  font-size: 20px;
} */

.icons {
  display: flex;
  flex-direction: row nowrap;
  justify-content: right;
  align-items: center;
}

.icons h2 {
  margin-left: 43%;
}

.icons div {
  margin-left: 25%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-bar li {
    font-size: 25px;
  }
}
