.navbar {
  width: 100%;
  background-color: #dc352e;
  border-bottom: solid #dc352e;
}

.navbar-content {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.navbar-content h2 {
  font-size: 30px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
