.cart-items-container {
  border: solid thin;
  border-radius: 4px;
  margin: 3%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cart-items-container {
    margin: 2% 10%;
  }
}
